
.container h2 {
    color: #0e92f4;
    font-weight:bold;
    font-size:40px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 50px;
}

.container .r-form {
    width:600px;
    margin:100px;
    margin-left:300px;
    padding:90px;
    padding-left:150px;
    border-radius: 6%;
    border:3px solid #0e92f4
}



